* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
@font-face {
  font-family: 'Avenir';
  src: url(Avenir-85-Heavy_5167.ttf) format('woff');
  font-style: 'normal';
  font-weight: 800;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Medium.otf) format('woff'),
  font-style: 'normal';
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Roman.otf) format('woff'),
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Book.otf) format('woff')
  font-style: 'normal';
  font-weight: 200;
}
body {
  background-color: #efefef;
  font-family: "Avenir"; "Nunito"; sans-serif;
}
/* header  */
.container {
  height: 100vh;
  display: grid;
 }
 .section {
   padding: 3rem 3rem;
 }
 h1 {
   color: white;
   font-size: 6rem;
   font-weight:800;
   padding: 2rem  0;
   letter-spacing: .1rem;
   line-height: 6.5rem;
   /* background-color: #fcd8d9; */
 }
 h2 {
   color: #FA7446;
   font-size: 2rem;
   line-height: 3rem;
   /* padding: 1rem 1rem; */
   font-style: italic;
 }
 h3 {
   font-weight: 600;
   font-size: 2rem;
   color: #FA7446;
 }
 h4 {
   font-size: 2rem;
   font-weight: 400;
   color: #043043;
 }
 p {
   color: #043043;
   font-size: 1.8rem;
   line-height: 2.8rem;
 }
 b {
   font-weight: 600;
 }
header {
    background-color: #aad4ff;
}
.nav {
  background-color: #c2e0ff;
  overflow: hidden;
  padding: 1.5rem 1.5rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul li a {
  float: right;
  line-height: 3em;
  text-decoration: none;
  font-weight: 400;
}
nav ul li:first-child {
  margin-right: auto;
}
.navbar {
  padding: .5rem 1.6rem;
}
.logo {
  height: 3.6rem;
  width: auto;
  float: left;
  align-items: center;
  padding-top: 1rem;
}
.work-link {
 color: #7d7d7d;
 font-size: 1.4rem;
 letter-spacing: .1rem;
}
.about {
 color: #7d7d7d;
 padding-right: 1.6rem;
 font-size: 1.4rem;
 letter-spacing: .1rem;
}
span.background {
  background-color: #fbd3b0;
}
/* hero section */
.hero {
  background-color: #fcd8d9;
}
.me {
  width: auto;
  height: 25rem;
  padding: 3rem 0;
}
.me-me {
  text-align: center;
}
.extra-info {
  display: grid;
  line-height: 3rem;
  grid-template-columns: 1fr;
  background-color: #aad4ff;
}
.about:hover,.work-link:hover {
  color: #FA7446;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #FA7446;
  transition: color 0.3s ease;
}
.resume {
  color: #043043;
}
.start-text {
 font-size: 2.5rem;
 line-height: 3rem;
 font-weight: 600;
}
/* about me text */
.text {
  padding: 2rem 1.6rem;
  background-color: #fff4f1;
}
.intro {
  padding: 2rem 2rem;
  background: -webkit-linear-gradient(70deg, #e0fffe 60%, #aad4ff 40%)  /* background-color: #fcd8d9; */
}
.main-1, .main-2, .main-3 {
  padding: 2rem 0;
}
/* extra info  */
.info-title {
  padding: 2rem 0;
  font-size: 1.6rem;
  color: white;
  letter-spacing: .1rem;
}
.fav-tool, .for-fun {
  text-align: center;
}
.headphones {
  padding-bottom: 2rem;
  text-align: center;
}
.extra-info {
  padding: 2rem 1.6rem;
  background-color: #c2e0ff;
}
.invision, .figma, .sketch, .museums, .concerts, .hiking {
  width: auto;
  height: 6rem;
  padding: 1rem 2rem;
  }
  .resume-button:hover {
  color: #000000;
  background-color: #ffd356;
  border: 1px solid #ffd356;
}
/* footer  */
.resume-button {
  background-color: #fff4f1;
  /* border-radius: 3rem; */
  border: 1px solid #000000;
  color: #043043;
  font-size: 1.8rem;
  font-family: "Avenir";
  letter-spacing: .09rem;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 12rem;
  cursor: pointer;
  transition: transform .5s;
  margin: auto;
}
.one-button {
  padding-top: 1rem;
}
footer {
  background-color: #363636;
  padding: 1rem 1rem;
  text-align: center;
}
.footer-text {
  margin: 0;
  font-size: 2.5rem;
  text-align:center;
  color: #FFDBBA;
  letter-spacing: .2rem;
}
.copyright-text {
  font-size: 1.1rem;
  letter-spacing: .01rem;
  text-align:center;
  line-height: 1.8rem;
  padding: 0;
  color: white;
}
.contact {
  padding: 2rem 2rem;
  background-color: #363636;
}
.lets-connect {
  font-size: 2.5rem;
  color: #aad4ff;
  letter-spacing: .3rem;
  padding: 2rem 0;
}
.footer-text-2 {
  line-height: 2.5rem;
  font-size: 1.6rem;
  color: white;
  text-align: left;
  padding: 0;
}
@media (min-width: 320px) and (max-width:767px) {
  .nav {
    background-color: #FEE2DA;
    overflow: hidden;
    padding: 1.5rem 1.5rem;
  }
  .main-1, .main-2, .main-3 {
    line-height: 2.8rem;
  }
  .footer-message {
    padding: 0;
  }
  .footer-text {
    padding: 1.2rem 0;
  }
  .contact {
    padding: 2rem 3rem;
  }
}
@media (min-width: 768px) and (max-width:1024px) {
  h1 {
    font-size: 8rem;
    line-height: 9rem;
    padding: 4rem 5rem 4rem 5rem;
  }
  h2 {
      padding: 1rem 5rem 3rem 5rem;
    }
  p {
    font-size: 1.8rem;
  }
  .me {
    width: auto;
    height:45rem;
  }
  .filter-hifi {
    text-align: center;
  }
  .text {
    padding: 4rem 10rem;
  }
  .extra-info {
    display: grid;
    line-height: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2rem 0 2rem;
  }
  .info-title {
    padding: 3rem 0;
    font-size: 1.6rem;
  }
  .fav-tool, .for-fun, .headphones {
    padding: 3rem 2rem 4rem 2rem;
  }
  .invision, .figma, .sketch, .museums, .concerts, .hiking {
    width: auto;
    height: 5rem;
    padding: 1rem 1rem;
  }
  /* footer*/
  .footer-message {
    padding: 0 2rem;
  }
  .footer-text-2 {
    line-height: 3rem;
    font-size: 2rem;
  }
  .footer-text {
    padding: 1.2rem 0;
  }
  .contact {
    padding: 2rem 8rem;
  }
}
@media (min-width: 1025px)  {
h1 {
  font-size: 9rem;
  line-height: 10rem;
}
.intro {
  padding: 6rem 20rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 4rem;
}
p {
font-size: 2rem;
line-height: 3.2rem;
}
.me {
  width: auto;
  height: 50rem;
}
.text {
  padding: 4rem 20rem;
}
.extra-info {
  display: grid;
  line-height: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 2rem 0 2rem;
}
.info-title {
  font-size: 2rem;
  padding: 3rem 0;
}
.fav-tool, .for-fun, .headphones {
  padding: 2rem 2rem 6rem 2rem;
}
.invision, .figma, .sketch, .museums, .concerts, .hiking {
  width: auto;
  height: 6rem;
  padding: 1rem 1rem;
}
/* footer */
.footer-text-2 {
  line-height: 3.5rem;
  font-size: 2rem;
  letter-spacing: .05rem;
  padding: 0;
}
.footer-message {
  background-color: #3B515A;
  padding-bottom: 3rem;
}
.contact {
  padding: 5rem 25rem;
}
.lets-connect {
  font-size: 3rem;
}
