  * {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
@font-face {
  font-family: 'Avenir';
  src: url(Avenir-85-Heavy_5167.ttf) format('truetype');
  font-style: 'normal';
  font-weight: 800;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Medium.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Roman.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Book.otf) format('opentype')
  font-style: 'normal';
  font-weight: 200;
}
body {
  color: #043043;
  font-family: "Avenir"; sans-serif
  margin: 2rem 2rem;
}
h1{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: .1rem;
  margin:1rem 0;
  text-align: center;
}
h2{
  color: #FF9272;
  font-family: 'Avenir';
  font-weight: 600;
  font-size: 3.1rem;
  line-height: 5rem;
  letter-spacing: .2rem;
}
h3{
  font-size: 2rem;
  font-family: 'Avenir'
  letter-spacing: .1rem;
  font-weight: 600;
  padding: 1.5rem 0;
}
h4 {
  font-size: 1.8rem;
}
p {
  font-size: 1.8rem;
  line-height: 2.5rem;
}
/*++++-- NAV BAR-- *****/
header {
  background-color: #FF9272;
}
.logo {
  height:auto;
  width: 6%;
  margin: 1rem 1rem;
}
/******<!-- PROJECT INTRO -->*******/
.container {
  /* background-color: #fff; */
  /* display: grid; */
  /*grid-template-columns: 2rem 2rem 2rem 2rem;*/
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.hero-image {
  height: auto;
  width: 28rem;
}
.project-screens {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.snip {
  color: #043043;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: center;
}
/*--ROLES/DELIVERABLES/TOOLS/DURATION--*/
.overview-section {
  background-color: #FF9272;
  padding: 4rem 1.6rem 3.2rem 1.6rem;
}
.roles-etc {
  padding: 3rem 2rem 3.2rem 2rem;
}
subject-line {
  text-decoration: underline;
  margin: 1rem 0;
}
.sub {
  font-size: 1.6rem;
}
.problem-solution {
  background-color: #EFEFEF;
  padding: 2rem 1.6rem 2.2rem 1.6rem;
}
.problem-solution-title {
  padding: 1rem 0;
}
/*****---RESEARCH---*****/
.research, .user-persona, .comp-analysis-all {
  padding:3rem 1.6rem;
}
.research-title {
  margin-top: 2rem;
}
/****** --USER RESEARCH -- ******/
/* .button {
    background-color: white;
    border: .2rem solid black;
    color: #FFCD49;
    margin: auto;
    text-align: center;
} */
.survey {
  color: #043043;
  font-size: 1.6rem;
  font-family: "Avenir";
  font-weight: 400;
  letter-spacing: .1rem;
  }
.highlight {
  background-color: #FF9272;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 9rem;
  margin: 2rem 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}
.highlight-1, p.highlight-2, p.highlight-3, p.highlight-4, p.highlight-5 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
}
.percent {
  display: inline-block;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 0 1rem;
}
/*****---COMPETITIVE ANALYSIS---*****/
.dropbox-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom:3rem;
  width: 10rem;
  }
.icloud-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.googledrive-img {
  display:block;
  height: auto;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom:3rem;
}
.comp-name {
  font-weight: 600;
}
/* .comp-analysis {
  padding:2rem 3rem;
} */
.user-personas {
  text-align: center;
}
.persona-name {
  color: #043043;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: normal;
}
.persona {
  height: auto;
  width: 15rem;
}
.persona-name {
  text-align: center;
  font-size: 2.6rem;
}
 hr {
  margin: 6rem 0;
  /* color: #FF9272; */
  border-top: 1px solid #FF9272;
}
.occupation {
  text-align: center;
  margin-top: 0;
  font-weight: 400;
}
/*****--INFO ARCHITECTURE--*****/
.info-architecture {
 background-color: #EFEFEF;
 padding: 2.26rem 1.6rem 3.2rem 1.6rem;
}

a {
  text-decoration: none;
  color: #FF9272;
}
a:visited, a:hover {
  text-decoration: none;
  color: #2A4BC0;
}
/*****--BRANDING--*****/
.branding{
  padding: 2.26rem 1.6rem 3.2rem 1.6rem;
}
.primary-colors-1, .primary-colors-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.primary-colors-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondary-colors-1, .secondary-colors-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.secondary-colors-text, .secondary-text-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.b-1, .b-2, .b-3 {
  height:auto;
  width: 32rem;
}
.branding-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue-1 {
  background-color: #0E5275;
  width: 12rem;
  height: 12rem;
}
.blue-2 {
  background-color: #248199;
  width: 12rem;
  height: 12rem;
}
.blue-3 {
  background-color: #489EB4;
  width: 12rem;
  height: 12rem;
}
.orange {
  background-color: #F69B59;
  width: 12rem;
  height: 12rem;
}
.blue-4 {
  background-color: #EAFBFF;
  width: 12rem;
  height: 12rem;
}
.grey-1 {
  background-color: #EEEEEE;
  width: 12rem;
  height: 12rem;
}
.grey-2 {
  background-color: #F8F8F8;
  width: 12rem;
  height: 12rem;
}
.type-image{
  height: 20rem;
  width:auto;
}
/*****--WIREFRAMES & TESTING--*****/
.desktop-sketch-1, .desktop-sketch-2 {
  width: auto;
  height: 28rem;
  padding: 3rem 0;
}
.wireframes-testing {
  background-color: #efefef;
  padding: 2.26rem 1.6rem 3.2rem 1.6rem;
}
.wireframe-button {
  align-items: center;
}
.dropbox-buttons, .prototype-buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.landing-page {
  height: auto;
  width: 27rem;
  padding-top: 3.5rem;
}
.home-page {
  height: auto;
  width: 27rem;
}
.mobile-prototype, .desktop-prototype, .mobile-hifis, .desktop-hifis, .mobile-wireframes, .survey-button {
  background-color: #FFCD49;
  border: none;
  /* border-color: #FFCD49; */
  border-radius: 3rem;
  color: #043043;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  padding: 1rem 1rem;
  text-align: center;
  width: 13rem;
}

.p-1, .p-2 {
  width: auto;
  height: 32rem;
}
.landing-page-class, .home-page-class, .pref-1, .pref-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
/*****-- INSIGHTS --*****/
.insights {
  padding: 2.26rem 1.6rem 3.2rem 1.6rem;
}
/*----- FOOTER -----*/
footer {
  background-color: #B7B3FF;
  padding: 2rem 2rem;
  text-align: center;
}
.footer-text {
  margin: 0;
  padding-bottom:3rem;
}
.connect-button {
  background-color: white;
  border-radius: 3rem;
  color: yellow;
  display:inline-block;
  margin-bottom: 4rem;
  margin-top: 0;
  padding: 1rem 1rem;
  width: 12rem;
}
.connect {
  color:#043043;
  font-family: "Avenir";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
}
.copyright{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a {
  margin: 0 2rem;
}
.copyright-text {
  font-size: 1.4rem;
  letter-spacing: 0;
  margin-bottom: 0;
}

/*
  ##Device = Desktops; 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

h1 {
  font-size: 6rem;
}
p {
  font-size: 2rem;
}
.snip {
  font-size: 2.5rem;
  padding: 2rem 0 4rem 0;
}
.hero-image {
  width: auto;
  height: 55rem;
}
.overview-text {
  padding: 0 20rem;
}
.overview-title {
  text-align: center;
}
.overview-section {
  padding: 3.2rem 5rem;
}
.titles, .problem-solution-text, .research-overall, .research-goals, .comp-analysis, .user-stories, .user-flows-site-maps, .branding-pt1, .wireframes, .hifi-mockups, .testing-p1, .insight-text {
  display:flex;
  flex-direction: row;
}
}
/*
##Device = Tablets, Ipads (landscape); ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width:1024px) {
  /* .container {
    margin: 0 5rem;
  } */
  h1 {
    font-size: 4rem;
  }
  .info {
  width: 220rem;
  }
  /******<!-- PROJECT INTRO (tablet)-->*******/
  .snip {
    padding: 3rem 0;
  }
  .hero-image {
    width: auto;
    height: 36rem;
  }
  .overview {
    text-align: center;
  }
  .overview-text {
    padding: 0 7rem;
  }
  .overview-section {
    padding: 3.2rem 5rem;
  }
  .titles, .problem-solution-text, .research-overall, .research-goals, .comp-analysis, .user-stories, .user-flows-site-maps, .branding-pt1, .wireframes, .hifi-mockups, .testing-p1, .insight-text {
    display:flex;
    flex-direction: row;
  }
  /*--ROLES/DELIVERABLES/TOOLS/DURATION (tablet)--*/
  .roles-etc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2.6rem 5rem 3.4rem 5rem;
  }
  .deliverables {
    padding: 0 3rem;
  }
  .problem-solution {
    padding:3.2rem 5rem;
  }
  .problem-title {
    padding-top: 0;
    /* padding-right: 4.8rem;
    width: 90rem; */
    padding-right: 6rem;
    width: 75rem;
  }
  .solution-title {
    padding-top: 0;
    padding-right: 6rem;
    width: 75rem;
  }
  .titles {
    padding-bottom: 3rem;
  }
  /*****---RESEARCH (tablet)---*****/
  .icloud {
    padding: 0 3rem;
  }
  .research {
    padding: 3rem 5rem 3.2rem 5rem;
  }
  .user-persona {
    padding: 3rem 5rem;
  }
  .user-research {
    display:flex;
    flex-direction: row;
  }
  .user-research-title  {
    padding-top:0;
    padding-right: 6rem;
    width: 75rem;
  }
  .research-goals-title {
    padding-top: 0;
    padding-right: 6rem;
    width: 75rem;
  }
  .overall-title {
    padding-top:0;
    padding-right: 6rem;
    width: 75rem;
  }
  /*****---COMPETITIVE-ANALYSIS (tablet)---*****/
  .competitive-analysis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
  }
  .comp-analysis-all {
    background-color: #EFEFEF;
    padding: 3.2rem 5rem 3rem 5rem;
  }
  .comp-analysis-title {
    padding-top:0;
    padding-right: 6rem;
    width: 75rem;
    line-height: 3rem;
  }
  /*****---USER-PERSONAS (tablet)---*****/
  .user-persona {
    padding: 1.5rem 5rem 3.2rem 5rem;
  }
  .persona-info {
     padding : 0 15rem;
   }
  .persona-info-2 {
     padding : 0 15rem 3rem 15rem;
   }
 /*****---INFO-ARCHITECTURE (tablet)---*****/
  .info-architecture, .wireframes-testing, .insights {
    padding: 2.4rem 5rem 3.2rem 5rem;
  }
  .user-stories-title {
    padding-top: 0;
    padding-right: 6rem;
    width: 75rem;
  }
  .user-flows-title {
    padding-top:0;
    padding-right: 6rem;
    width: 75rem;
    line-height: 3rem;
  }
  /*****---BRANDING (tablet)---*****/
  .branding {
    padding: 2.4rem 5rem 3.2rem 5rem;
  }
  .branding-subtitle {
    line-height:3rem;
    padding-top: 0;
    padding-right: 6rem;
    width: 75rem;
  }
  .branding-text2 {
    padding-left: 20rem;
  }
  .type-image {
    width: auto;
    height: 35rem;
  }
  .branding-image {
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding-left: 20rem;
  }
  .all-primary-colors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .primary-colors-1 {
    display: flex;
    flex-flow: flex-direction;
    justify-content: center;
  }
  .colors-text {
    padding-left: 22rem;
  }
  .home-page {
    width: auto;
    height: 40rem;
  }
  .landing-page {
    width: auto;
    height: 46rem;
  }
  .type-image {
    width: auto;
    height: 40rem;
    justify-content: center;
  }
  /*****---WIREFRAMES (tablet)---*****/
.wireframes-title {
   padding-top: 0;
   padding-right: 6rem;
   width: 75rem;
 }
.wireframes-p2, .testing-text {
  padding-left: 20rem;
}
.desktop-sketch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wireframe-button {
  padding-left: 20rem;
}
.survey-button {
  margin-left: 20rem;
}
.dropbox-buttons, .prototype-buttons {
  margin-left: 14rem;
}
.hifi-title {
  line-height: 3rem;
  padding-top: 0;
  padding-right: 6rem;
  width: 75rem;
}
.testing-title {
  line-height: 3rem;
  padding-top: 0;
  padding-right: 6rem;
  width: 75rem;
}
.preferences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
}
.insights-title {
  padding-right: 6rem;
  width: 75rem;
}
.insight-info {
  padding-left: 6.7rem;
}

   }
