* {
box-sizing: border-box;
}
html {
  font-size: 10px;
  }
@font-face {
  font-family: 'Avenir';
  src: url(Avenir-85-Heavy_5167.ttf) format('truetype');
  font-style: 'normal';
  font-weight: 800;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Medium.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Roman.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Book.otf) format('opentype')
  font-style: 'normal';
  font-weight: 200;
}
body {
  color: #043043;
  font-family: "Avenir"; sans-serif;
  }
h1{
  color: #043043;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: .2rem;
  margin:1rem 0;
  text-align: center;
  }
h2{
  color: #FF9272;
  font-family: 'Avenir';
  font-weight: 600;
  font-size: 3.1rem;
  line-height: 5rem;
  letter-spacing: .2rem;
  padding: 1rem 0;
  }
h3 {
  font-size: 2rem;
  font-family: 'Avenir'
  letter-spacing: .1rem;
  font-weight: 600;
  padding: 3rem 0;
  }
h4 {
  font-size: 1.8rem;
  padding: 1.5rem 0;
  font-weight: 600;
  }
p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  padding: 1rem 0;
  }
b{
  font-weight: 600;
}
.container {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-column: 1fr;
  /* grid-gap: 1rem; */
  justify-content: center;
  /* width: 100%; */
}
section {
  padding: 6rem 2.2rem;
}
/*++++-- NAV BAR-- *****/
header {
  background-color: #FF9272;
  }
.logo {
  height:auto;
  width: 6%;
  margin: 1rem 1rem;
  }
/******<!-- PROJECT INTRO -->*******/
.intro{
  background-color: #FF9272;
  padding: 7rem 2.2rem 6rem 2.2rem;
}
/* .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.snip {
    color: #043043;
    font-size: 2rem;
    font-style: italic;
    line-height: 2.5rem;
    letter-spacing: 0;
    text-align: center;
    padding: 1.5rem 0;
  }
.hero-image {
  height: auto;
  width: 33rem;
  padding:3rem 1rem 2rem 1rem;
  align-items: center;
}
.roles-etc {
  padding-top: 5.5rem;
  padding-bottom: 6rem;
}
.problem-solution {
  background-color: #efefef;
  padding-top: 4rem;
}
/******<!-- RESEARCH SECTION-->*******/
a :hover {
  background-color: white;
}
.mobile-prototype, .desktop-prototype, .mobile-hifis, .desktop-hifis, .mobile-wireframes {
  background-color: #FFCD49;
  border-radius: 3rem;
  border: 1.5px solid #FFCD49;
  color: #043043;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .09rem;
  padding: .8rem .5rem;
  text-align: center;
  width: 11rem;
  }
.survey {
  background-color: #FFCD49;
  border: 1.5px solid #FFCD49;
  border-radius: 3rem;
  color: #043043;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .09rem;
  padding: .8rem .5rem;
  text-align: center;
  width: 14rem;
  }
.survey-button, .wireframe-button {
  padding: 1.5rem 0;
}
.dropbox-buttons, .prototype-buttons {
  display: flex;
  display: column;
  justify-content: space-around;
  padding: 1.5rem 0;
}
.competitive-analysis {
  background-color: #efefef;
  padding-top: 4rem;
}
.comp-text {
  padding: 1rem 2rem;
  /* text-align: left; */
}
.dropbox-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
  width: 12rem;
  }
.icloud-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 14rem;
}
.googledrive-img {
  display:block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom:3rem;
  width: 12rem;
}
/******<!-- USER PERSONAS -->*******/
.user-personas-all {
  padding: 2rem 2rem 0 2rem;;
}
.user-personas {
  padding-top: 4rem;
}
.persona-info {
  text-align: center;
}
.persona {
  height: auto;
  width: 15rem;
  padding: 1.5rem 0;
}
.occupation {
  font-weight: 400;
  padding: 0;
}
.persona-name {
  color: #043043;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: normal;
}
.p-header{
  font-size: 1.8rem;
  padding: 1.8rem 0;
  text-align: center;
}
hr {
 margin: 3rem 0;
 border-top: 1px solid #FF9272;
}
/******<!-- INFO ARCHITECTURE -->*******/
.info-architecture {
  background-color: #efefef;
}
/* branding */
.branding-image {
  padding: 1.8rem 0;
}
.b-1, .b-2, .b-3 {
  width: auto;
  height: 30rem;
  padding: 1rem 1rem;
}
.b-4 {
  width: auto;
  height: 32rem;
  padding: 1rem 1rem;
}
.blue-1 {
  background-color: #0E5275;
  width: 12rem;
  height: 12rem;
}
.blue-2 {
  background-color: #248199;
  width: 12rem;
  height: 12rem;
}
.blue-3 {
  background-color: #489EB4;
  width: 12rem;
  height: 12rem;
}
.orange {
  background-color: #F69B59;
  width: 12rem;
  height: 12rem;
}
.blue-4 {
  background-color: #EAFBFF;
  width: 12rem;
  height: 12rem;
}
.grey-1 {
  background-color: #EEEEEE;
  width: 12rem;
  height: 12rem;
}
.grey-2 {
  background-color: #F8F8F8;
  width: 12rem;
  height: 12rem;
}
.primary-colors, .secondary-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 1rem;
}
/******<!-- WIREFRAMES &TESTING -->*******/
/* wireframes */
.wireframes-testing {
  background-color: #efefef;
  padding-bottom: 4rem;
}
.desktop-sketch-1, .desktop-sketch-2 {
  width: auto;
  height: 27rem;
  padding: 1rem 1rem;
}
/* hifi mockups */
.hifi-images {
  display: flex;
  flex-direction: column;
}
.landing-page {
  width: auto;
  height: 26rem;
  /* padding: 3rem 0; */
}
.home-page {
  width: auto;
  height: 24.5rem;
}
.label {
  font-size: 1.5rem;
}
/* testing */
.preferences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.p-1, .p-2 {
  height:auto;
  width:20rem;
}
.pref-1-image, .pref-2-image {
  padding: 2rem 2rem;
}
/*----- FOOTER -----*/
footer {
  background-color: #B7B3FF;
  padding: 1rem 1.8rem;
  text-align: center;
}
.footer-text {
  margin: 0;
  padding: 2rem 0;
}
.copyright{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon {
  width: auto;
  height:4rem;
  padding: 1rem 1rem;
}
.copyright-text {
  font-size: 1.3rem;
  letter-spacing: 0;
  line-height: 1.8rem;
}
/* ##Device = Tablets, Ipads (landscape); ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width:1024px) {
h2 {
  padding-bottom: 5rem;
}
.container {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr;
  /* grid-gap: 1rem; */
  justify-content: center;
  /* grid-auto-rows: repeat (8, 50px);  */
}
section {
  padding: 5rem 2.5rem;
}

/**** INTRO ****/
.overview-title {
  text-align: center;
}
.overview-text {
  width: 60rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.hero-image {
  width: 60rem;
}
/* roles */
.roles-etc {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
/* problem solution */
 /* {
  display:grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr 4fr;
} */
.titles {
  width: 17rem;
  height: auto;
  padding: 1.5rem 0;
  line-height: 3rem;
}
/**** RESEARCH ****/
/* user research */
.problem-solution, .user-stories, .user-research, .research-overall, .comp-analysis, .research-goals, .branding-story, .typography, .insight, .wireframes, .hifi-mockups {
  display: grid;
  grid-gap: 4rem;
  grid-column-gap: 7rem;
  grid-template-columns: 1fr 3fr;
}
.survey-button {
  grid-column: 2;
  padding: 0;
}
/* competitive analysis */
.comp-text {
  width: 20rem;
  margin: 0 auto;
  padding: 0;
}
.competitors {
  display: grid;
  /* grid-gap: 2rem; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  padding-top: 4rem;
}
/* user persona  */
.user-personas-all {
  padding: 3rem 19rem 5rem 19rem;
}
.persona-name {
  padding-bottom: 2.5rem;
}
/**** BRANDING ****/
.branding-text {
  display: grid;
  grid-gap: 4rem;
  grid-column-gap: 7rem;
  grid-template-columns: 1fr 3fr;
  grid-column: 2;
}
/**** WIREFRAMES & TESTING ****/
.desktop-sketch {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 0;
}
/* .desktop-sketch-1, .desktop-sketch-2 {
  align-items: center;
} */
/* hifi-mockups */
.hifi-images {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5rem 0;
}
.home-page {
  grid-column: 2/ 3;
}
.dropbox-buttons {
  grid-column: 2;
  padding: 0;
  justify-content: space-around;
}
.testing {
display: grid;
grid-gap: 4rem;
grid-column-gap: 7rem;
grid-template-columns: 1fr 3fr;
grid-template-rows: 1 3fr;
}
.prototype-buttons, .testing-text{
  grid-column: 2;
  padding: 0;
}






}
