  * {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: #043043;
  font-family: "Avenir"; sans-serif;

}

header, .container, footer {
  padding: 20px;
}

h1{
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .1rem;
  margin:1rem 0;
  text-align: center;
}

h2{
  color: #FF9272;
  font-size: 3.3rem;
  line-height: 5rem;
  letter-spacing: .3rem;
  padding-left: 2rem;
}

h3{
  font-size: 2rem;
  padding: 2rem 2rem;
  letter-spacing: .1rem;
}

h4 {
  font-size: 1.8rem;
  padding: 0 2rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/******<!-- PROJECT INTRO -->*******/
.container {
  background-color: #fff;
  display: grid;
  /*grid-template-columns: 2rem 2rem 2rem 2rem;*/
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding-left:2rem;
  padding-right: 2rem;
}

.project-screens {
  height: auto;
  width: 5rem;
}

.snip {
  color: #043043;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 2rem;
  letter-spacing: 0;
  text-align: center;

}

/*--ROLES/DELIVERABLES/TOOLS/DURATION--*/

.overview {
  background-color: #FF9272;
  /*padding: 4.2rem 0 4.2rem 2rem;*/
}

.overview-info {
  padding: 3.6rem 0 4.4rem 2rem;;
}
.subject-line {
  text-decoration: underline;
}

.sub {
  font-size: 1.6rem;

}

.problem-solution {
  background-color: #EFEFEF;
  padding: 2rem 0 4.2rem 2rem;
}

 .info-architecture {
  background-color: #EFEFEF;
  padding: 3.26rem 0 4rem 2rem;
}

/*****---RESEARCH---*****/

.research {
  padding: 3.26rem 0 4.2rem 2rem;
}

/****** --USER RESEARCH -- ******/
.survey-button {
    /*color:#043043;
    font-family: "Avenir";
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
    background-color:
    border-color: 'yellow';*/
    background-color: #efefef;
    border-radius: 3rem;
    color: yellow;
    display: inline-block;
    border-color: #FFCD49;
    border-width: 1rem;
    margin-top: 2rem;
    padding: 1rem 1rem;
    width: 14rem;
}

.survey {
  color: #043043;
  font-size: 1.6rem;
  font-family: "Avenir";
  letter-spacing: .1rem;
  text-align: center;

}

.highlight {
  background-color: #FF9272;
  border-radius: 5px;
  display: block;
  height: 9rem;
  margin: 2rem 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

p.highlight-1, p.highlight-2, p.highlight-3, p.highlight-4, p.highlight-5 {
  display: inline-block;
  font-size: 2rem;
  padding: 2rem 1rem 2rem 0;
}

.percent {
  display: inline-block;
  font-weight: 500;
  font-size: 2.5rem;
  padding-right: 1rem;
}

/*****---COMPETITIVE ANALYSIS---*****/

.dropbox-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom:3rem;
  width: 10rem;
  }

.icloud-img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
}

.googledrive-img {
  display:block;
  height: auto;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom:3rem;
}

/*****---USER PERSONAS---*****/

.hr {
    color: #FF9272;
    display: block;
    height: .2rem;
    border: 0;
    border-top: 1rem solid ##FF9272;
    margin: 4rem 0;
    padding: 0;
    width: 20rem;
}

.user-personas {
  text-align: center;
}

.persona-name {
  color: #043043;
  font-size: 3rem;
  padding-top: 1rem;
  margin-bottom: 0;
}

.persona {
  height: auto;
  width: 15rem;
}

.persona-name {
  text-align: center;
  font-size: 2.6rem;
  padding-left: 0;
}
.persona-header {
  padding: 2rem 0;
}

.occupation {
  text-align: center;
  margin-top: 0;
}
/*****--INFO ARCHITECTURE--*****/

.info-architecture {
  padding: 2rem 0 4.2rem 2rem;
}
/*****--BRANDING--*****/

.branding {
  padding: 3.26rem 0 3.26rem 2rem;;
}
.colors {
  height: 15rem;
  padding: 2rem 2rem;
  width: 15rem;
}

.type-image{
  height: 20rem;
  width:auto;
}

/*****--WIREFRAMES & TESTING--*****/

.wireframes-testing {
  background-color: #efefef;
  /* padding: 3.26rem 0 3.26 2rem; */

}
/*****-- INSIGHTS --*****/


.insights {
  padding: 3.26rem 0;
}

/*----- FOOTER -----*/

footer {
  background-color: #B7B3FF;
  padding: 2rem 2rem;
  text-align: center;
}

.footer-message {
  font-weight: 800;
}

.connect-button {
  background-color: white;
  border-radius: 3rem;
  color: yellow;
  display:inline-block;
  margin-bottom: 4rem;
  margin-top: 0;
  padding: 1rem 1rem;
  width: 12rem;
}

.connect {
  color:#043043;
  font-family: "Avenir";
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .1rem;
}

.copyright{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a {
  margin: 0 2rem;
}


.copyright-text {
  font-size: 1.4rem;
  letter-spacing: 0;
  margin-bottom: 0;
}
