* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
@font-face {
  font-family: 'Avenir';
  src: url(Avenir-85-Heavy_5167.ttf) format('truetype');
  font-style: 'normal';
  font-weight: 800;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Medium.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Roman.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Book.otf) format('opentype')
  font-style: 'normal';
  font-weight: 200;
}
body {
  background-color: #efefef;
  font-family: "Avenir", "Nunito"; sans-serif;
}
p {
  color: #043043;
  font-size: 1.6rem;
}
h1.landing-title {
  cursor: cell;
  font-size: 5rem;
  font-weight:800;
  letter-spacing: .2rem;
  padding: 1rem 0;
  line-height: 6.5rem;
}
h1 span {
  transition: color 3s;
  transition-delay: 1s;
  letter-spacing: -0.2vw;
}
h1 span:hover {
  transition: color 0s;
}
h1 span:nth-child(1n):hover {
  color: #9875E0;
}
h1 span:nth-child(2n):hover {
  color: #53FBDD;
}
h1 span:nth-child(3n):hover {
  color: #00A4DD;
}
h2 {
  color: #000000;
  font-size: 3rem;
}
h3 {
  color:#043043;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: .3rem;
}
h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #043043;
}
b {
  font-weight: 600;
}
.sub {
  padding-bottom: 2rem;
}
.work-button {
  padding-right: 4rem;
  padding-top: 0;
}
/*------ header ------*/
header {
  display: grid;
  background-color: #fcd8d9;
}
a {
  text-decoration: none;
  color: #FA7446;
  transition: color 0.3s ease;
}
.container {
  background-color: white;
  height: 100vh;
  display: grid;
 }
 .navbar {
   padding: .5rem 1.6rem;
 }
.work-link {
  color: #000000;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}
.about {
  color: #000000;
  padding-right: 1.6rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}
.logo {
  height: 3.6rem;
  width: auto;
  float: left;
  align-items: center;
  padding-top: 1rem;
}
.about:hover, .work-link:hover {
  color: #FA7446;
  font-weight: 600;
}
.nav {
  background-color: #FEE2DA;
  overflow: hidden;
  padding: 1.5rem 1.5rem;
}
.navbar-1 {
  background-color: #E1F8FF;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul li a {
  float:right;
  line-height: 3em;
  text-decoration: none;
  font-weight: 400;
}
nav ul li:first-child {
  margin-right: auto;
}

/*-----hero section -----*/
.content-image {
  padding: 4rem 0 6rem 18rem;
  width: auto;
  height: 3rem;
}
.hero {
  padding: 5rem 1.6rem 2rem 1.6rem;
  width: 100%;
  background: -webkit-linear-gradient(-70deg, #fcd8d9 40%, #fce5d6 40%);
}
.hero-1 {
  background-color: #E1F8FF;
  padding: 5rem 1.6rem 2rem 1.6rem;
  width: 100%;
}
b {
  font-weight: 600rem;
}
.snippet {
  color: #FA7446;
  padding-bottom: 16rem;
}
.hero-image {
  height: auto;
  width: 28rem;
  margin: auto;
}
.description {
  color: #FA7446;
  font-size: 2.5rem;
  line-height: 3rem;
  padding-bottom:2rem;
  margin-top: 0;
}
.work-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.arrow {
  box-sizing: border-box;
  height: 1rem;
  width: 1rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
.arrow:hover {
  border-bottom-width: .3rem;
  border-right-width: .3rem;
}
.work-title {
  text-align: center;
  margin: auto;
  padding-top: 2rem;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}
.case-study, .rumble-case-study {
  background-color: #ffffff;
  border-radius: 3rem;
  border: 1.5px solid #FF9272;
  color: #043043;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .09rem;
  padding: .8rem 1rem;
  text-align: center;
  width: 11rem;
  cursor: pointer;
  transition: transform .2s;
}
.case-study:hover, .rumble-case-study:hover {
  color: white;
  background-color: #FF9272;
  border: 1.5px solid #FF9272;
  transform: scale(1.1);
}
/*----- other sections -----*/
.work-1 {
  background-color:#ff9178;
  padding: 4rem 1.6rem;
  width:100%;
}
.work-2 {
  background-color:#E1F8FF;
  padding: 4rem 1.6rem;
  width:100%;
}
.rumble-hero-image {
  height: auto;
  width: 24rem;
  margin: 0;
}
.project-title{
  color: #043043;
  font-family: "Avenir";
  font-weight: 600;
  letter-spacing: .2rem;
  margin-top: 0;
  text-align: center;
  padding: 2rem 0;
}
.project-info {
  font-style: italic;
  text-align: center;
  padding-bottom: 2rem;
  line-height: 2.5rem;
}
.mobile-p {
  text-align: center;
  padding: 2rem 0;
}
button {
  background-color: white;
  border-color: transparent;
  border-radius: 5rem;
  color: #043043;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
}
.project-screens {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.rumble-project {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/*----- footer -----*/
a {
  color: #FA7446;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer {
  background-color: #363636;
  padding: 2rem 3rem;
  text-align: center;
}
.footer-text {
  margin: 0;
  font-size: 2.5rem;
  text-align:center;
  color: #FFDBBA;
  letter-spacing: .2rem;
}
.copyright{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.copyright-text {
  font-size: 1.1rem;
  letter-spacing: .01rem;
  text-align:center;
  line-height: 1.8rem;
  color: white;
}
.contact {
  padding: 2rem 2rem;
}
.lets-connect {
  font-size: 2.5rem;
  color: #aad4ff;
  letter-spacing: .3rem;
  padding: 2rem 0;
}
.footer-text-2 {
  line-height: 2.5rem;
  font-size: 1.6rem;
  color: white;
  text-align: left;
}
.contact {
  background-color: #363636;
}
/******<!-- PROJECT INTRO -->*******/
.intro {
  background-color: #E1F8FF;
  padding: 4rem 2.2rem 5rem 2.2rem;
}
.snip {
    color: #043043;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0;
    text-align: center;
    padding: 1.5rem 0 2rem 0;
  }
  .overview-title {
    font-size: 3rem;
  }
.hero-image-1 {
  height: auto;
  width: 36rem;
  padding:3rem 0 1rem 1rem;
  align-items: center;
}
.roles-etc {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.problem-solution {
  background-color: #f4f4f4;
  padding-top: 4rem;
}
@media (min-width: 426px) and (max-width:767px) {
  h1.landing-title {
    padding: 0 1rem 2rem 1rem;
  }
  .snippet {
  padding: 0 1rem 20rem 1rem;
  }
  footer-message {
    padding: 2rem 2rem;
  }
  .project-screens, .rumble-project {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .project-screens .content-overlay {
    background: #E1F8FF;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    /* width: 100%; */
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .rumble-project, .content-overlay-1 {
    background: rgb(255, 145, 120);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    /* width: 100%; */
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .project-screens:hover .content-overlay .rumble-project:hover .content-overlay-1{
    opacity: 1;
  }
  .content-image{
    width: 100%;
  }
  .mobile-p {
    padding: 4rem 0;
  }
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .rumble-hero-image {
    height: auto;
    width: 50rem;
    margin: 0;
  }
  .hero-image {
    height: auto;
    width: 45rem;
  }
  .project-screens:hover .content-details .rumble-project:hover {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  .content-details h2{
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.15em;
  }
  .content-details p{
    color: #000000;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 3rem;
    padding: 0 2rem;
  }
  .fadeIn-top{
    top: 20%;
  }
}
  /*
  ##Device = Tablets, Ipads (landscape); ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width:1024px) {
  h1.landing-title {
    font-size: 8rem;
    padding-top: 7rem;
    line-height: 8rem;
    }
  h2 {
    font-size: 2rem;
    }
  h3 {
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 4rem;
    }
    /* hero section */
  .hero {
    padding: 5rem 8rem;
    }
  .snippet {
    padding-bottom: 25rem;
    }
  .description {
    font-size: 2.3rem;
    line-height: 4rem;
    padding-bottom: 48rem;
    padding-top: 0;
    grid-row: 2;
  }
  .hero-image {
    height: auto;
    width: 50rem;
    padding-bottom: 1rem;
  }
  .project-screens {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .project-screens .content-overlay {
    background: #E1F8FF;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .project-screens:hover .content-overlay{
    opacity: 1;
  }
  .content-image{
    width: 100%;
  }
  .mobile-p {
    padding: 4rem 0;
  }
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .project-screens:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  .content-details h2{
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.15em;
  }
  .content-details p{
    color: #000000;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 3rem;
    padding: 0 2rem;
  }
  .fadeIn-top{
    top: 20%;
  }
    /* work section  */
  .work {
    padding: 4rem 1.6rem;
  }
  .rumble-hero-image {
    height: auto;
    width: 55rem;
    margin: 0;
  }
  .case-study, .connect {
    font-size: 1.6rem;
    }
  button {
    button-radius: 5rem;
    padding: 1rem 2rem;
  }
    /* footer */
  .case-study-button {
    padding-top: 1rem;
  }
  .copyright-text {
    font-size: 1.5rem;
    }
  .footer-message {
    padding: 0 2rem;
  }
  .footer-text-2 {
    line-height: 3rem;
    padding: 0 2rem;
    font-size: 2rem;
  }
  .footer-text {
    padding: 1.2rem 0 1.2rem 0;
  }
  .lets-connect{
    padding: 2rem 2rem;
  }
}
  /*
  ##Device = Laptops, Desktop;  ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) {
  h1.landing-title {
    padding-top: 8rem;
    font-size: 8rem;
    line-height: 14rem;
    }
  h2 {
    font-size: 3rem;
    }
  h3 {
    font-size: 2rem;
    padding: 2.5rem 0;
  }
  h4 {
    font-size: 2rem;
  }
  .snippet {
    font-size: 2.5rem;
    line-height: 4.5rem;
    padding: 0 0 27rem 0;
  }
    /* hero section */
  .hero {
    padding: 7rem 8rem;
    }
  .description {
    font-size: 2.5rem;
    line-height: 4rem;
    padding-bottom: 48rem;
    padding-top: 0;
    grid-row: 2;
    }
  .hero-image {
    height: auto;
    width: 60rem;
    padding-bottom: 1rem;
  }
  .rumble-hero-image {
    height: auto;
    width: 65rem;
    margin: 0;
  }
    /* work section  */
  .work {
    padding: 7rem 1.6rem;
  }
  .case-study, .connect {
    font-size: 1.6rem;
  }
  button {
    button-radius: 5rem;
    padding: 1rem 2rem;
  }
  .project-screens {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .project-screens .content-overlay {
    background: #E1F8FF;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    /* width: 100%; */
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .project-screens:hover .content-overlay{
    opacity: 1;
  }
  .content-image{
    width: 100%;
  }
  .mobile-p {
    padding: 4rem 0;
  }
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .project-screens:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  .content-details h2{
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.15em;
  }
  .content-details p{
    color: #000000;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 3rem;
    padding: 0 2rem;
  }
  .fadeIn-top{
    top: 20%;
  }
    /* footer */
  .copyright-text {
    font-size: 1.4rem;
    }
  .footer-text-2 {
    line-height: 3.5rem;
    font-size: 2rem;
    letter-spacing: .05rem;
  }
  .footer-message {
    background-color: #3B515A;
    padding-bottom: 3rem;
  }
  .footer-text {
    text-align: center;
    padding-top: 1em;
  }
  .contact {
    padding: 5rem 15rem;
  }
  .lets-connect {
    font-size: 3rem;
  }
  }
