* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
@font-face {
  font-family: 'Avenir';
  src: url(Avenir-85-Heavy_5167.ttf) format('truetype');
  font-style: 'normal';
  font-weight: 800;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Medium.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Roman.otf) format('opentype'),
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir';
  src: url(AvenirLTStd-Book.otf) format('opentype')
  font-style: 'normal';
  font-weight: 200;
}
body {
  background-color: #efefef;
  font-family: "Avenir"; "Nunito"; sans-serif;
  font-family:
}
p {
  color: #043043;
  font-size: 1.6rem;
}
h1 {
  color: #2A4BC0;
  font-size: 4rem;
  font-family: PlayfairDisplay;
  font-weight:800;
  letter-spacing: .1rem;
  padding: 4rem 0;
}
h2 {
  color: #2A4BC0;
  font-size: 3.6rem;
  font-family: "PlayfairDisplay";
}
h3 {
  color:#043043;
  font-size: 1.8rem;
  font-weight: 400;
}
h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #043043;
}
b {
  font-weight: 600;
}
.work-button {
  padding-right: 4rem;
  padding-top: 0;
}
/*------ header ------*/
header {
  background-color: #FEE2DA;
}
a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a.case-study:hover {
  background-color: #DFDFDF;
  color: #DFDFDF;
}
.container {
  background-color: white;
  height: 100vh;
  display: grid;
 }
.header {
    background-color: #FEE2DA;
}
.nav {
  background-color: #FEE2DA;
  overflow: hidden;
  padding: 1.5rem 1.5rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav ul li a {
    float:right;
  line-height: 3em;
  /* padding: 0em 2em; */
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: #043043;
}
.about {
  padding-right: 3rem;
}
nav ul li:first-child {
  margin-right: auto;
}
.logo {
  height:auto;
  width: 4rem;
  float:left;
  align-items: center;
  padding-top: 1rem;
}
/*-----hero section -----*/
.sidebar.hero {
  background-color: #FEE2DA;
    /* padding: 3em 2em 3em 7em; */
}
.content-image {
  /* background-color: #FEE2DA; */
  padding: 4rem 0 6rem 18rem;
  width: auto;
  height: 3rem;
}
.hero {
  background-color: #FEE2DA;
  padding: 2rem 1.6rem;
  width: 100%;
}
.hero-image {
  height: auto;
  width: 28rem;
  padding: 4rem 0;
}
.project-screens {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.description {
  color: #FA7446;
  font-size: 2rem;
  line-height: 3rem;
  /* padding-bottom:19rem; */
  margin-top: 0;
}
.work-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.arrow {
  box-sizing: border-box;
  height: 2rem;
  width: 2rem;
  border-style: solid;
  border-color: #043043;
  border-width: 0px 3px 3px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}
.arrow:hover {
  border-bottom-width: .3rem;
  border-right-width: .3rem;
}
.work-title {
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  font-weight: 600;
  color: #2A4BC0;
}
/*----- other sections -----*/
.work {
  background-color:#FF9272;
  padding: 4rem 1.6rem;
  width:100%;
}
.project-title{
  color: #043043;
  font-family: "Avenir";
  font-weight: 600;
  letter-spacing: .2rem;
  margin-top: 0;
  text-align: center;
}
.project-info {
  font-style: italic;
  text-align: center;
  line-height: 2rem;
}
button {
  background-color: white;
  border-color: transparent;
  border-radius: 5rem;
  color: #043043;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
}
.case-study {
  background-color: #FFCD49;
  border-radius: 3rem;
  border: 1.5px solid #FFCD49;
  color: #043043;
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: .09rem;
  padding: .8rem .5rem;
  text-align: center;
  width: 15rem;
}
.connect-button {
  background-color: white;
  border-radius: 3rem;
  color: yellow;
  display:inline-block;
  margin-bottom: 4rem;
  margin-top: 0;
  width: 12rem;
}
.case-study-button {
  text-align: center;
  padding-top: 3rem;
}
/*----- footer -----*/
footer {
  background-color: #B7B3FF;
  padding: 3rem 2rem;
  text-align: center;
}
.footer-text {
  margin: 0;
  font-size: 3rem;
}
.copyright{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  background-color: #B7B3FF;
}
.form {
    background-color:#B7B3FF;
}
.form h3 {
 padding: 0em 4em;
    font-size:2em;
}
#contact-form {
   padding: 1em 2em;
    width:100%
}
#contact-form input,
#contact-form textarea  {
  border-radius: .2em;
  border:none;
  width: 100%;
  padding: .5em;
  margin-bottom: 2em;
  box-sizing: border-box;
  font-family: Avenir;
  font-size: 1.3rem;
}
#contact-form textarea {
   height: 5em;
}
#contact-form button[type="submit"]  {
    background-color: #FFCD49;
    border-radius: 3rem;
    border: 1px solid #FFCD49;
    color: #043043;
    font-family: "Avenir";
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: .09rem;
    padding: .8rem .5rem;
    text-align: center;
    width: 11rem;
    float: right;
}
.copyright-text {
    font-size: 1.3rem;
    padding-top: 1em;
    text-align:center;
  }
.footer-message {
  background-color: #B7B3FF;
  padding: 3rem 3rem;
}
  .footer-text {
    text-align: center;
  }
.footer-text-2 {
  line-height: 2.5rem;
  padding: 3rem 0 0 0;
}
.footer-icon {
  width: auto;
  height:2.5rem;
  padding: 0 1rem;
}
  /*
  ##Device = Laptops, Desktop;  ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) {
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    }
  h2 {
    font-size: 4rem;
    }
  h3 {
    font-size: 2rem;
    padding: 2.5rem 0;
    }
    /* hero section */
  .hero {
    padding: 7rem 8rem;
    }
  .description {
    font-size: 2.5rem;
    line-height: 4rem;
    padding-bottom: 48rem;
    padding-top: 0;
    grid-row: 2;
    }
  .hero-image {
    height: auto;
    width: 60rem;
    padding-bottom: 1rem;
    }
  .sidebar-hero {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .confetti {
      grid-column: 2;
    }
  .work {
    padding: 7rem 2rem;
    }
    /* work section  */
  .case-study, .connect {
    font-size: 1.6rem;
    }
    button {
    button-radius: 5rem;
    padding: 1rem 2rem;
    }

    #contact-form textarea  {
        border-radius: .2em;
        border:none;
        width: 100%;
        padding: .5em;
        margin-bottom: 2em;
        box-sizing: border-box;
        font-family: Avenir;
        font-size: 1.6rem;
    }

    #contact-form input {
      font-size: 1.6rem;
    }
    #contact-form button[type="submit"]  {
        /* background-color: #FFCD49; */
        border-radius: 3rem;
        border: 1px solid #FFCD49;
        color: #043043;
        font-family: "Avenir";
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: .09rem;
        padding: .8rem .5rem;
        text-align: center;
        width: 11rem;
        float: right;
    }
    /* footer */
  .case-study-button {
    padding-top: 1rem;
  }
  .copyright-text {
    font-size: 1.4rem;
    padding-top: 1rem;
    }

  .footer-message {
    padding: 1.5rem 2rem;
  }
  .footer-text-2 {
    line-height: 2.3rem;
    text-align: left;
    padding:0 4rem;
  }
  .footer-message {
    background-color: #B7B3FF;
    padding: 3rem 2rem;
  }
  .footer-text {
    text-align: center;
    padding-top: 1em;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:
    padding: 4rem 2rem 0 2rem;
    background-color: #B7B3FF;
  }
  #contact-form {
    padding: 5rem 5rem 3rem 1rem;
  }
  }
  /*
  ##Device = Tablets, Ipads (landscape); ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width:1024px) {
  h1 {
    font-size: 5rem;
    }
  h2 {
    font-size: 4rem;
    }
  h3 {
    font-size: 2rem;
    padding: 2.5rem 0;
    }
    /* hero section */
  .hero {
    padding: 5rem 8rem;
    }
  .description {
    font-size: 2.3rem;
    line-height: 4rem;
    padding-bottom: 48rem;
    padding-top: 0;
    grid-row: 2;
    }
  .hero-image {
    height: auto;
    width: 60rem;
    padding-bottom: 1rem;
    }
  .sidebar-hero {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .confetti {
      grid-column: 2;
    }
  .work {
    padding: 5rem 2rem;
    }
    /* work section  */
  .case-study, .connect {
    font-size: 1.6rem;
    }
    button {
    button-radius: 5rem;
    padding: 1rem 2rem;
    }
    /* footer */
  .case-study-button {
    padding-top: 1rem;
  }
  .copyright-text {
    font-size: 1.4rem;
    padding-top: 1rem;
    }
  .footer-message {
    padding: 1.5rem 2rem;
  }
  .footer-text-2 {
    line-height: 2.3rem;
    text-align: left;
    padding:0 4rem;
  }
  .footer-message {
    background-color: #B7B3FF;
    padding: 3rem 2rem;
  }
  .footer-text {
    text-align: center;
    padding-top: 1em;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem 0 2rem;
    background-color: #B7B3FF;
  }
  #contact-form {
    padding: 5rem 5rem 3rem 1rem;
  }
  }
