* {
  box-sizing: border-box;
}

@media screen and (min-width:1440px) {
  .container {
    background-color: #FEE2DA;
    width" 80%;
  }
}

html {
  font-size: 10px;
}
body {
  background-color: #FEE2DA;
}
p {
 font-size: 4rem;
}

.container {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
}
section {
background-color:
}


@media screen and (min-width: 110em) {

}
