* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  background-color: teal;
  font-family: Avenir;
}

p {
 font-size: 1.6rem;
}

h1 {
  font-size: 4.3rem;
  font-family: PlayfairDisplay;
}


h2 {
  font-size: 3.4rem;
  font-family: PlayfairDisplay;
}

h3 {
  font-size: 1.8rem;
}

.project-title {
  font-family: Avenir;
  
}

.container {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
}

section.hero {
  background-color: #FEE2DA;
  margin:auto;
  width: 100%;

}
section.work {
background-color:#FF9272;
width:100%;
}

footer {
  background-color: #B7B3FF;
}

/*@media screen and (min-width: 110em) {

}

@media screen and (min-width:1440px) {
  .container {
    background-color: #FEE2DA;
    width" 80%;
  }
}
